.advantages {
    padding: 69px 0 78px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    @media(max-width: 767px){
        padding: 90px 0 78px 0;
    }
    @media (max-width: 575px){
        padding: 60px 0 48px 0;
    }
    &__icons {
       margin-top: 65px;
       display: flex;
       justify-content: space-between;
       @media (max-width: 991px){
            flex-direction: column;
            align-items: center; 
        }
        @media (max-width: 767px){
            margin-top: 45px; 
        }
    }
    &__icon {
        width: 247px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        &__animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        &:nth-child(2), &:nth-child(3) {
            @media (max-width: 991px){
                margin-top: 65px;
            }
            @media (max-width: 767px){
                margin-top: 45px;
            }
            @media (max-width: 575px){
               font-size: 13px;
            }
            
        } 
        
        span {
            text-align: justify;
        }
        a {
           @include link;
           @media (max-width: 575px){
                font-size: 13px;
            }
        }
        img {
            width: 70px;
            height: 70px;
        }
        h3 {
            margin-top: 38px;
            margin-bottom: 26px;
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
            @media (max-width: 575px){
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }

    }
    
}